# Node modules
node_modules/

# Build output
android/app/build/
ios/build/
ios/Pods/

# Logs
npm-debug.log
yarn-error.log

# Temporary files
.DS_Store
.env

# React Native specific files
.expo/
.expo-shared/
